@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
     box-sizing: border-box;
     /* background:linear-gradient(whitesmoke),(rgb(216, 216, 179)); */
     text-decoration: none;
     /* line-height: 70px; */
     font-size: 20px;
};
/* body{
    text-decoration: none;
    background-color: #02072F;
} */
/* container{
    background-color: #02072F;
    height: 100vh;
} */
.head{
    width: 100%;
    /* position: sticky; */
    /* top: 0;
    z-index:1000; */
}

.nav1{
    padding: 10px;
    background-color: white; 
    display: flex;
    /* position: sticky; */
    position: fixed;
    top: 0;
    z-index:1000;
    width:100%;
}

.nav1 a{
    padding: 3px;
   transition: all 5s ease;
    color: black;  
}
.nav1 a:hover{
   color:rgb(243, 141, 8)
}
/* Dropdown container */
.dropdown{
   position: relative;
   display: inline-block;
}
/* Dropdown content (hidden by default) */
.dropdown-content{
   display: none;
   position: absolute;
   background-color: #c5cdd1;
   min-width: 160px;
   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
   z-index: 1000;
}
/* Dropdown links */
.dropdown-content a {
   color: black;
   padding: 10px 16px;
   text-decoration: none;
   display: block;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
   display: block;
}
/* Optional hover effect */
.dropdown-content a:hover {
   background-color: #f1f1f1;
}
.model{
   display: none;
}

img{
    border-radius: 3%;
}

.nav2{
    padding-block: 50px;
    max-height:5vh ;
    /* margin: 4px; */
    background-color:#17035E ;
    color: white;
}
.nav2  p{
   /* padding-left: 150px;   */
   padding-inline: 150px;
   padding-top: 20px;
}


.nav2 a{
    color:rgb(1, 217, 255);
}
/* img{
    color:rgb(1, 217, 255);
} */
.nav2 a:hover{
    color:white;
}
/* nav ending */
.hero{
    background-color: #02072F;
    color: white;
padding: 80px;
display: flex;
}
.hero-text {
    font-size:20px ;  
}
h1{
 font-size:60px;
 
}
.btn{
    padding:70px 0px;
   
}
.btn a {
    padding: 15px;
    background:linear-gradient(rgb(160, 88, 122),blueviolet);
    transition:  0.5s ease;
    color: white;
}
button a{
    border-radius: 20%;
}
.subhead{
    width: 100%;
    background-color: #02072F;
    color: white;
}
            /* Ai-section */
 .AI-heading{
            /* padding:auto; */
    padding-left: 290px;
        padding-top: 170px;
 }
 AI-cards{
    color: #ffffff;
 }
 .Text-1{
    padding:30px;
 }
 .Text-1 p{
    padding: 20px;
    color: darkgrey;
 }

 .Text-1 a{
    color: #ffffff;
 }
.card-1{
    display: flex;
    padding-top: 10px;
}
.logo1{
    padding-top: 50px;
}
 /* 2nd-Card */
 .card-2{
    display: flex;
    padding-top: 10px;
}
 .Text-2{
    padding:30px;
 }
 .Text-2 p{
    padding: 20px;
    color: darkgrey;
 }

 .Text-2 a{
    color: #ffffff;
 }
 .logo2{
    padding-top: 50px;
}
 /* 3rd-Card */
 .card-3{
    display: flex;
    padding-top: 10px;
}
 .Text-3{
    padding:30px;
 }
 .Text-3 p{
    padding: 20px;
    color: darkgrey;
 }
 .logo3{
    padding-top: 50px; 
 }
 /* 4th-Card */
 .card-4{
    display: flex;
    padding-top: 10px;
}

 .Text-4{
    padding:30px;
 }
 .Text-4 p{
    padding: 20px;
    color: darkgrey;
 }
 .logo4{
    padding-top: 50px; 
 }
 /* BubbleAI_tools */
 .BubbleAI_tools {
    background-color: #02072F; 
    padding-top: 80px;
    
 }
    .BubbleAI_card{
        /* padding-top: 40px; */
        display:flex;
         align-items: center;    
    }
 .BubbleAI_tools h1{
    color: #ffffff;
    padding-left:240px;
    font-size: 45px;
 }
 .BubbleCardImg_1st img{
   border-top-left-radius: 7%;
   border-top-right-radius: 7%;
 }
 .BubbleCard_Text_1st{
     color: #ffffff;
     padding: 15px;
      
     height: 35vh;
     /* background-color: #DCDCFB; */
     /* width: 100%; */
     background-color: rgba(0, 0, 3, 0.5); 
     /* opacity: 0.5; */
     /* background-color:(opacity 0.5) rgba(0, 0, 3, 0.5); */
 }

 .BubbleCard_Text_1st a{
    color:#2EAFEF  ;
 }
 .BubbleCard_Text_1st a img{
    color: #ffffff;
 }
 .BubbleCard_Text_1st a:hover{
    color: aliceblue;
 }
 .FirstBubbleCard{
   padding-right:20px;
 }
 /* SecondBubbleCard section */
 .BubbleCard_Text_2nd{
     color: #ffffff;
     padding: 20px;
   
     /* background-color: #DCDCFB; */
     max-width:100%;
     height: 36vh;
     background-color: rgba(0, 0, 3, 0.5); 
     /* opacity: 0.5; */
     /* background-color:(opacity 0.5) rgba(0, 0, 3, 0.5); */

 }

 .BubbleCard_Text_2nd a{
    color:#2EAFEF  ;
   

 }
 .BubbleCard_Text_2nd a img{
    color: #ffffff;
 }
 .BubbleCard_Text_2nd a:hover{
    color: aliceblue;
 }
 .SecondBubbleCard{
  padding-right: 17px;
 }
 /* Third Bubble_Card */
 .BubbleCard_Text_3rd{
     color: #ffffff;
     padding: 20px;
   padding-right: 40px;
     background-color: #DCDCFB;
     height: 35vh;
     width: 360px;
     background-color: rgba(0, 0, 3, 0.5); 
     /* opacity: 0.5; */
     /* background-color:(opacity 0.5) rgba(0, 0, 3, 0.5); */
 }

 .BubbleCard_Text_3rd a{
    color:#2EAFEF  ;
 }
 .BubbleCard_Text_3rd a img{
    color: #ffffff;
 }
 .BubbleCard_Text_3rd a:hover{
    color: aliceblue;
 }
 .BubbleAI_card{
  /* display: flex; */
   padding: 100px;
 }
.ThirdBubbleCard{
 
}
.APILINKIMG{
   /* width:100%; */
   background: #02072F; 
}
.APILINKIMG img{
   width:100%;
}
.AI_PLUGIN{
   /* width:auto;
   height:auto; */
   background-color: #02072F;
   padding: 40px;
   
}
.AI_PLUGIN img{
   width: 80%;
   margin: 100px;
   border-radius:2%;
}
.AI_tools{
   background: #02072F;
   width:100%;  
}

.AI_TEXT h1{
   color: #ffff;
   font-size:41px;
   padding-left: 230px;
}
.AI_SECT{
   width: 100%;
   display: flex;
   padding: 100px;
   /* display: block; */
   /* display: inline-flex; */
   padding-top: 60px;
}
.AI_SECT p{
   background-color:rgba(0, 0, 3, 0.5); 
   width: 17.4em;
   color: #ffffff;
   padding: 35px;
}
.AI_SECT  a img{
   color: #ffffff;
   width: 30px;
   height: 2vh;
   color: #ffffff;
}
.AI_SECT  a{
   color: rgb(138, 160, 160);
} 
.AI_SECT  a:hover{
   color: #ffffff;
   text-decoration: underline;
}
.sectText_1st p{
   width: 100%;
}
.sect1{
  /* padding: 50px 100px 50px 70px;  */
  padding-right: 48px;

}
.sect2{
   /* padding: 50px 15px 50px 40px; */
   padding-right: 37px;

   
}
.sect3{
   /* padding: 50px 100px 50px 40px; */
 
}
.footer_1st{
   background: #02072F;
   display: flex;
   width: 100%;
   height: 100%;
}
@keyframes example{
   from{background-color: #02072F;}
   to{background-color: #9b9494;}
}

.footer_1st h5{
   color: #ffffff;
}
.footer_1st a{
   color: #9b9494;
   font-size: medium;
   
}
.Bubble_media{
   width: 100%;
   height: 100%;
   padding-left:15px;
}
.logo img{
  background: #02072F;
  
}
.mediaIcon{
  
}
.mediaIcon a img{
   color: #ffffff;
   width: 30px;
   /* height: 6vh; */
 
   margin: 10px;
   display: inline-block;
   border-radius: 50px;

   
}
.About{
   display: flex;
   padding-right: 50px;
   letter-spacing: 2px;
   line-height:5vh;
   
   width: 100%;
   height: 100%;
   
}
.details a{
   /* display: block; */
}
.details a:hover{
   color: #ffffff;
   text-decoration: underline;
}
.fifth_column{
 padding-left: 80px;
}
.fourth_column{
   padding-left: 100px;
}
.ThirdBubbleCard{
   padding-right: 70px;
}
.second_column{
   /* padding-left: 70px;
   padding-right: 40px; */
   padding-inline: 60px;
}
.first_column{
   padding-left: 10px;
}

.Resources .details{
   /* width: 100%;
   padding: 0;
   height: 10px; */
}

.footer_2nd{
   background: #02072F;
   display: flex;
}
.details_1st{
   display: flex;
   
}
.details_1st a{
  padding-inline: 15px;
  padding-block: 25px;
   color: #9b9494;;
   font-size:15px;
}
.details_1st a:hover{
      color: #ffffff;
      text-transform: uppercase;
}
.details_2nd p{
   display: flex;
   color: #9b9494;
   font-size: medium;
   /* padding-inline: 10px; */
   padding-block: 30px;
   padding-left: 250px;
} 
.footer_outskirt{
   background: #02072F;
}
.b_logo{
   background-color: rgb(21, 75, 224);
   width:fit-content;
}
.b_logo img{
   width: 15px;
   position: inherit;
}
.b_logo span{
   color: #ffffff;
   font-size: medium;
   /* padding-top: 200px; */
}