@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
     box-sizing: border-box;
     /* background:linear-gradient(whitesmoke),(rgb(216, 216, 179)); */
     text-decoration: none;
     /* line-height: 7em */
     font-size: 20px;
     
};
body{
    text-decoration: none;
}
.head{
    width: 100%;
    position: sticky;
    top: 0;
    z-index:1000;
}

.nav1{
    padding: 15px;
    background-color: white; 
    display: flex;
}

.nav1 a{
    padding: 3px;
 
    color: black;
}
img{
    border-radius: 50%;
}
.nav2{
    padding: 20px;
    /* margin: 4px; */
    background-color:#17035E ;
    color: white;
}
.nav1 a:hover{
    color:rgb(4, 2, 116);
}
.nav2  p{
    padding-left: 150px;
   
}
.nav2 a{
    color:rgb(1, 217, 255);
}
img{
    color:rgb(1, 217, 255);
}
.nav2 a:hover{
    color:white;
}
/* nav ending */
.hero{
    background-color: #02072F;
    color: white;
padding: 80px;
display: flex;
}
.hero-text {
    font-size:20px ;  
}
h1{
 font-size:60px;
 
}
.btn{
    padding:70px 0px;
   
}
.btn p {
    padding: 15px;
    background:linear-gradient(rgb(160, 88, 122),blueviolet);
    color: white;
}
button p{
    border-radius: 20%;
}
.subhead{
    width: 100%;
    background-color: #02072F;
    color: white;
}
            /* Ai-section */
 .AI-heading{
            /* padding:auto; */
    padding-left: 290px;
        padding-top: 170px;
 }
 AI-cards{
    color: #ffffff;
 }
 .Text-1{
    padding:30px;
 }
 .Text-1 p{
    padding: 20px;
    color: darkgrey;
 }

 .Text-1 a{
    color: #ffffff;
 }
.card-1{
    display: flex;
    padding-top: 10px;
}
.logo1{
    padding-top: 50px;
}
 /* 2nd-Card */
 .Text-2{
    padding:30px;
 }
 .Text-2 p{
    padding: 20px;
    color: darkgrey;
 }

 .Text-2 a{
    color: #ffffff;
 }
 /* 3rd-Card */
 .Text-3{
    padding:30px;
 }
 .Text-3 p{
    padding: 20px;
    color: darkgrey;
 }
 /* 4th-Card */
 .Text-4{
    padding:30px;
 }
 .Text-4 p{
    padding: 20px;
    color: darkgrey;
 }